.Layout {
  background-color: #003366;
  min-height: 100%;
  overflow: auto;


}
.columns{
  scroll-behavior: smooth;
  position: relative;
  background-color: #003366;
  float: left;
  width: 33.3%;
  height: 750px;
}
.Card {
  text-align: center;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -55% 0 0 -25%;
  background-color:#E6E6F0;
  height: 450px;
  width: 300px;

}
.AlbumContainer{
  text-align: center;


}
.div1 {
  padding: 35px;
  font-size: 35;
}

.AlbumArt{
  padding-top: 50px;
  height: 150px;
  width: 150px;


}
.buttonimg{
  margin: auto;
  height:65px;
  width: 25px;
}
.leftbuttons{
  background: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin:  -15% 0 0 40%;
  border-radius: 5px;
  text-align: center;
  height: 75px;
  width: 35px;

}
.rightbuttons{
  background: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin:  -15% 0 0 -40%;
  border-radius: 5px;
  text-align: center;
  height: 75px;
  width: 35px;

}
.Songlist{

}
