.CardBoarder {
  text-align: center;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -55% 0 0 -25%;
  background-color:rgba(233, 220, 220, 0.80);
  height: 450px;
  width: 300px;
}

.ArtistImage {
  align-items: center;
  height: 150px;
  width: inherit;
  margin-top: 30px;


}
.Image{
  text-align: center;
  border-radius: 10px;
  height: 90%;
  width: 150px;
  box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.6);
}
.artistName{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.Songlistobject{
  width: 100%;
  height: 35px;
  margin: 5px;

}

.SonglistName{
  float:left;
  margin: inherit;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;

}

.playbutton{
  background: url(./playbutton.png);
  border: none;
  background-size: 100%;
  float: left;
  height:25px;
  width: 25px;

}

.pausebutton{
  background: url(./pausebutton.png);
  border: none;
  background-size: 100%;
  border-radius: 50%;
  margin-left: 10px;
  float: left;
  height:25px;
  width: 25px;

}

.likebutton{
  float: right;
  background: url(./empty_heart.png);
  background-size: 100%;
  height: 25px;
  width: 25px;
  margin-right: 15px;
  border: none;

}
.likebuttonfill{
  float: right;
  background: url(./filled_heart.png);
  background-size: 100%;
  height: 25px;
  width: 25px;
  margin-right: 15px;
  border: none;

}
.div{

}
